name: Format

on:
  workflow_call:
    inputs:
      branch:
        description: "Branch to use for the workflow"
        type: string
        required: true
jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Format Code
        run: dotnet format

      - name: Commit & Push Updated Styles
        continue-on-error: true
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git diff --quiet || (git commit -am "chore: format code with dotnet format" && git push)
